@import "tailwindcss";

body {
    background-color: wheat;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: gray;
}

.half-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 70%;
    gap: 1rem;
}

.card {
    width: 30%;
    height: 30vh;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0,
0, 0.1);
    text-align: center;
}
.first {
    background-color: lightgreen;
    height: 9%;
    border-radius: 8px 8px 0 0;
    color: teal;
    h2{
        font-size: 23px;
    }
}
.second {
    height: 60%;
}
.three {
    background-color: lightblue;
    height: 31%;
    border-radius: 0 0 8px 8px;
}

.first1 {
    height: 12%;
}
.second2 {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 183px;
    }
}
.second3 {
    height: 12%;
}

#formkey{
    font-size: 50px;
}